<!DOCTYPE html>
<html>
  <head>
<title>Account</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
<link href="Account_page/Account_page_css/header.css" rel="stylesheet" type="text/css">

<!-------- head -------->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
<!-------- end head -------->






<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
</head>

<body class="w3-light-grey">



<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <div class="container-1">
  <!--<span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>-->
  <img id="expandedImg" style="width:100%">
  <!--<div id="imgtext"></div>-->
</div>
          <img id="zxc" src="Account_img/Denis.jpg" style="width:100%" alt="" >
          
          <div class="w3-display-bottomleft w3-container w3-text-white" style="    padding-bottom: 20px;">
            <!--<h2 >Родишев Денис</h2>-->
            
            <!--Фото-->
            
            <!--<div style="text-align:center">-->
  <!--<h2>Tabbed Image Gallery</h2>-->
  <!--<p>Click on the images below:</p>-->
<!--</div>-->

<!-- The four columns -->
<div class="row" >
  <div class="column">
    <img src="Account_img/star-1.jpg" alt="" style="width:100%" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="Account_img/star-2.jpg" alt="" style="width:100%" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="Account_img/star-3.jpg" alt="" style="width:100%" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="Account_img/Denis.jpg" alt="" style="width:100%" onclick="myFunction(this);">
  </div>
</div>

<div class="container-1">
  <img id="expandedImg" style="width:100%">
  <div id="imgtext"></div>
</div>

<script>
function myFunction(imgs) {
    var expandImg = document.getElementById("expandedImg");
  
    // var imgText = document.getElementById("imgtext");
    expandImg.src = imgs.src;
      zxc.src=expandedImg.src;
    // imgText.innerHTML = imgs.alt;
    expandImg.parentElement.style.display = "block";
    
}
</script>
            
            
            <!--end фото-->
            
            
            
            
          </div>
          
        </div>
        
        <div class="w3-container" style="padding-top:10px;">
          <p><i class="fa fa-user fa-fw w3-margin-right w3-large w3-text-teal"></i>178 см</p>
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Актер / Продюсер</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Russia, Novosibirsk</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>densuper97@gmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>Тут телефон </p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Навыки</b></p>
          <p>Комедия</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
          </div>
          <p>Боевик</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
              <div class="w3-center w3-text-white">80%</div>
            </div>
          </div>
          <p>Приключения</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
          </div>
          <p>Фантастика</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Владение языками</b></p>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>
          <p>Spanish</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:55%"></div>
          </div>
          <p>German</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:25%"></div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom edit_button ">
      <a target="_blank" href="https://www.google.com"><i class="material-icons frg" id="qwe" >build</i></a> 
   
        <h2 class="w3-text-grey w3-padding-16 ">
          <i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal">
          </i><%= @user.login %>  
        <button class="btn-favorite btn-primary-favorite btn-fab-favorite btn-round-favorite" style="background-color:#fff">
                <i class="material-icons" style="padding-top: 6px; color:#ff0000 ">favorite</i>
              <div class="ripple-container"></div></button>
              </h2>
              
              
              <script>
                
                var btn = document.querySelector('i');
var txt = document.querySelector('p');

btn.addEventListener('click', updateBtn);

function updateBtn() {
  if (btn.shadow === "#fff") {
    btn.shadow = #ccc;
    txt.textContent = 'The machine has started!';
  } else {
    btn.shadow=" 0 0 0 0.2rem rgba(255, 0, 0, 0.62);";
    txt.textContent = 'The machine is stopped.';
  }
}
                
              </script>
              
              
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Актер</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Апрель 1997 <!--<span class="w3-tag w3-teal w3-round">Current</span>--></h6>
         
<select class="selectpicker" multiple title="max 2" data-live-search="true" data-max-options="2" data-width="fit" multiple>
 <option data-icon="glyphicon-heart" value="AL">ALBANIA</option>
	<option value="DZ">ALGERIA</option>
	<option value="AS">AMERICAN SAMOA</option>
	<option value="AD">ANDORRA</option>
	<option value="AO">ANGOLA</option>
	<option value="AI">ANGUILLA</option>
	<option value="AQ">ANTARCTICA</option>
	<option value="AG">ANTIGUA AND BARBUDA</option>
	<option value="AR">ARGENTINA</option>
	<option value="AM">ARMENIA</option>
	<option value="AW">ARUBA</option>
	<option value="AU">AUSTRALIA</option>
	<option value="AT">AUSTRIA</option>
	<option value="AZ">AZERBAIJAN</option>
	<option value="BS">BAHAMAS</option>
	<option value="BH">BAHRAIN</option>
	<option value="BD">BANGLADESH</option>
	<option value="BB">BARBADOS</option>
	<option value="BY">BELARUS</option>
	<option value="BE">BELGIUM</option>
	<option value="BZ">BELIZE</option>
	<option value="BJ">BENIN</option>
	<option value="BM">BERMUDA</option>
	<option value="BT">BHUTAN</option>
	<option value="BO">BOLIVIA</option>
	<option value="BA">BOSNIA AND HERZEGOWINA</option>
	<option value="BW">BOTSWANA</option>
	<option value="BV">BOUVET ISLAND</option>
	<option value="BR">BRAZIL</option>
	<option value="IO">BRITISH INDIAN OCEAN TERRITORY</option>
	<option value="BN">BRUNEI DARUSSALAM</option>
	<option value="BG">BULGARIA</option>
	<option value="BF">BURKINA FASO</option>
	<option value="BI">BURUNDI</option>
	<option value="KH">CAMBODIA</option>
	<option value="CM">CAMEROON</option>
	<option value="CA">CANADA</option>
	<option value="CV">CAPE VERDE</option>
	<option value="KY">CAYMAN ISLANDS</option>
	<option value="CF">CENTRAL AFRICAN REPUBLIC</option>
	<option value="TD">CHAD</option>
	<option value="CL">CHILE</option>
	<option value="CN">CHINA</option>
	<option value="CX">CHRISTMAS ISLAND</option>
	<option value="CO">COLOMBIA</option>
	<option value="KM">COMOROS</option>
	<option value="CK">COOK ISLANDS</option>
	<option value="CR">COSTA RICA</option>
	<option value="CI">COTE D'IVOIRE</option>
	<option value="CU">CUBA</option>
	<option value="CY">CYPRUS</option>
	<option value="CZ">CZECH REPUBLIC</option>
	<option value="DK">DENMARK</option>
	<option value="DJ">DJIBOUTI</option>
	<option value="DM">DOMINICA</option>
	<option value="DO">DOMINICAN REPUBLIC</option>
	<option value="EC">ECUADOR</option>
	<option value="EG">EGYPT</option>
	<option value="SV">EL SALVADOR</option>
	<option value="GQ">EQUATORIAL GUINEA</option>
	<option value="ER">ERITREA</option>
	<option value="EE">ESTONIA</option>
	<option value="ET">ETHIOPIA</option>
	<option value="FO">FAROE ISLANDS</option>
	<option value="FJ">FIJI</option>
	<option value="FI">FINLAND</option>
	<option value="FR">FRANCE</option>
	<option value="GF">FRENCH GUIANA</option>
	<option value="PF">FRENCH POLYNESIA</option>
	<option value="TF">FRENCH SOUTHERN TERRITORIES</option>
	<option value="GA">GABON</option>
	<option value="GM">GAMBIA</option>
	<option value="GE">GEORGIA</option>
	<option value="DE">GERMANY</option>
	<option value="GH">GHANA</option>
	<option value="GI">GIBRALTAR</option>
	<option value="GR">GREECE</option>
	<option value="GL">GREENLAND</option>
	<option value="GD">GRENADA</option>
	<option value="GP">GUADELOUPE</option>
	<option value="GU">GUAM</option>
	<option value="GT">GUATEMALA</option>
	<option value="GN">GUINEA</option>
	<option value="GW">GUINEA-BISSAU</option>
	<option value="GY">GUYANA</option>
	<option value="HT">HAITI</option>
	<option value="HM">HEARD AND MC DONALD ISLANDS</option>
	<option value="HN">HONDURAS</option>
	<option value="HK">HONG KONG</option>
	<option value="HU">HUNGARY</option>
	<option value="IS">ICELAND</option>
	<option value="IN">INDIA</option>
	<option value="ID">INDONESIA</option>
	<option value="IQ">IRAQ</option>
	<option value="IE">IRELAND</option>
	<option value="IL">ISRAEL</option>
	<option value="IT">ITALY</option>
	<option value="JM">JAMAICA</option>
	<option value="JP">JAPAN</option>
	<option value="JO">JORDAN</option>
	<option value="KZ">KAZAKHSTAN</option>
	<option value="KE">KENYA</option>
	<option value="KI">KIRIBATI</option>
	<option value="KW">KUWAIT</option>
	<option value="KG">KYRGYZSTAN</option>
	<option value="LA">LAO PEOPLE'S DEMOCRATIC REPUBLIC</option>
	<option value="LV">LATVIA</option>
	<option value="LB">LEBANON</option>
	<option value="LS">LESOTHO</option>
	<option value="LR">LIBERIA</option>
	<option value="LY">LIBYAN ARAB JAMAHIRIYA</option>
	<option value="LI">LIECHTENSTEIN</option>
	<option value="LT">LITHUANIA</option>
	<option value="LU">LUXEMBOURG</option>
	<option value="MO">MACAU</option>
	<option value="MG">MADAGASCAR</option>
	<option value="MW">MALAWI</option>
	<option value="MY">MALAYSIA</option>
	<option value="MV">MALDIVES</option>
	<option value="ML">MALI</option>
	<option value="MT">MALTA</option>
	<option value="MH">MARSHALL ISLANDS</option>
	<option value="MQ">MARTINIQUE</option>
	<option value="MR">MAURITANIA</option>
	<option value="MU">MAURITIUS</option>
	<option value="YT">MAYOTTE</option>
	<option value="MX">MEXICO</option>
	<option value="MC">MONACO</option>
	<option value="MN">MONGOLIA</option>
	<option value="MS">MONTSERRAT</option>
	<option value="MA">MOROCCO</option>
	<option value="MZ">MOZAMBIQUE</option>
	<option value="MM">MYANMAR</option>
	<option value="NA">NAMIBIA</option>
	<option value="NR">NAURU</option>
	<option value="NP">NEPAL</option>
	<option value="NL">NETHERLANDS</option>
	<option value="AN">NETHERLANDS ANTILLES</option>
	<option value="NC">NEW CALEDONIA</option>
	<option value="NZ">NEW ZEALAND</option>
	<option value="NI">NICARAGUA</option>
	<option value="NE">NIGER</option>
	<option value="NG">NIGERIA</option>
	<option value="NU">NIUE</option>
	<option value="NF">NORFOLK ISLAND</option>
	<option value="MP">NORTHERN MARIANA ISLANDS</option>
	<option value="NO">NORWAY</option>
	<option value="OM">OMAN</option>
	<option value="PK">PAKISTAN</option>
	<option value="PW">PALAU</option>
	<option value="PA">PANAMA</option>
	<option value="PG">PAPUA NEW GUINEA</option>
	<option value="PY">PARAGUAY</option>
	<option value="PE">PERU</option>
	<option value="PH">PHILIPPINES</option>
	<option value="PN">PITCAIRN</option>
	<option value="PL">POLAND</option>
	<option value="PT">PORTUGAL</option>
	<option value="PR">PUERTO RICO</option>
	<option value="QA">QATAR</option>
	<option value="RE">REUNION</option>
	<option value="RO">ROMANIA</option>
	<option  value="RU">RUSSIAN FEDERATION</option>
	<option value="RW">RWANDA</option>
	<option value="SH">SAINT HELENA</option>
	<option value="KN">SAINT KITTS AND NEVIS</option>
	<option value="LC">SAINT LUCIA</option>
	<option value="PM">SAINT PIERRE AND MIQUELON</option>
	<option value="VC">SAINT VINCENT AND THE GRENADINES</option>
	<option value="WS">SAMOA</option>
	<option value="SM">SAN MARINO</option>
	<option value="ST">SAO TOME AND PRINCIPE</option>
	<option value="SA">SAUDI ARABIA</option>
	<option value="SN">SENEGAL</option>
	<option value="CS">SERBIA AND MONTENEGRO</option>
	<option value="SC">SEYCHELLES</option>
	<option value="SL">SIERRA LEONE</option>
	<option value="SG">SINGAPORE</option>
	<option value="SK">SLOVAKIA</option>
	<option value="SI">SLOVENIA</option>
	<option value="SB">SOLOMON ISLANDS</option>
	<option value="SO">SOMALIA</option>
	<option value="ZA">SOUTH AFRICA</option>
	<option value="GS">SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS</option>
	<option value="ES">SPAIN</option>
	<option value="LK">SRI LANKA</option>
	<option value="SD">SUDAN</option>
	<option value="SR">SURINAME</option>
	<option value="SJ">SVALBARD AND JAN MAYEN ISLANDS</option>
	<option value="SZ">SWAZILAND</option>
	<option value="SE">SWEDEN</option>
	<option value="CH">SWITZERLAND</option>
	<option value="SY">SYRIAN ARAB REPUBLIC</option>
	<option value="TW">TAIWAN</option>
	<option value="TJ">TAJIKISTAN</option>
	<option value="TH">THAILAND</option>
	<option value="TL">TIMOR-LESTE</option>
	<option value="TG">TOGO</option>
	<option value="TK">TOKELAU</option>
	<option value="TO">TONGA</option>
	<option value="TT">TRINIDAD AND TOBAGO</option>
	<option value="TN">TUNISIA</option>
	<option value="TR">TURKEY</option>
	<option value="TM">TURKMENISTAN</option>
	<option value="TC">TURKS AND CAICOS ISLANDS</option>
	<option value="TV">TUVALU</option>
	<option value="UG">UGANDA</option>
	<option value="UA">UKRAINE</option>
	<option value="AE">UNITED ARAB EMIRATES</option>
	<option value="GB">UNITED KINGDOM</option>
	<option value="US">UNITED STATES</option>
	<option value="UM">UNITED STATES MINOR OUTLYING ISLANDS</option>
	<option value="UY">URUGUAY</option>
	<option value="UZ">UZBEKISTAN</option>
	<option value="VU">VANUATU</option>
	<option value="VE">VENEZUELA</option>
	<option value="VN">VIET NAM</option>
	<option value="WF">WALLIS AND FUTUNA ISLANDS</option>
	<option value="EH">WESTERN SAHARA</option>
	<option value="YE">YEMEN</option>
	<option value="ZM">ZAMBIA</option>
	<option value="ZW">ZIMBABWE</option>
</select>


<!-------- in the end of the body -------->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<!-------- end of the body -------->
          <p>One of the most successful Russia-based International actors today.
Gor has been recently set for the key role of legendary impresario and patron Sergei
Diaghilev, founder of the Ballets Russes with Antonio Banderas in the second season of
National Geographicʼs anthology series ʻGenius:Picassoʼ. Gor recently wrapped filming a
supporting lead in the upcoming G-Base and Millenium Films feature ʻHunter Killerʼ,
playing the main antagonist against Gerard Butler and Gary Oldman, and was recently
seen at ʻThe Hitmanʼs Bodyguardʼ, playing against Samuel L. Jackson, Ryan Reynolds,
Salma Hayek and again Gary Oldman, which was developed by the same Millenium Films
production and earned more than $177 MM box office last year. Gor has also worked with
Steven Spielberg playing against Tom Hanks on ʻBridge of Spiesʼ, which received 6 Oscars
nomination in 2016.</p>

          <hr>
        </div>
        <!--<div class="w3-container">-->
        <!--  <h5 class="w3-opacity"><b>Web Developer / something.com</b></h5>-->
        <!--  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2012 - Dec 2014</h6>-->
        <!--  <p>Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>-->
        <!--  <hr>-->
        <!--</div>-->
        <!--<div class="w3-container">-->
        <!--  <h5 class="w3-opacity"><b>Graphic Designer / designsomething.com</b></h5>-->
        <!--  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2010 - Mar 2012</h6>-->
        <!--  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p><br>-->
        <!--</div>-->
      </div>
 
      <div class="w3-container w3-card w3-white edit_button">
        
<!--/*drop and down file*/-->
<div class="container">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Upload Files</strong> <small>Bootstrap files upload</small></div>
        <div class="panel-body">

           Standar Form 
          <h4>Select files from your computer</h4>
          <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
            <div class="form-inline">
              <div class="form-group">
                <input type="file" name="files[]" id="js-upload-files" multiple>
              </div>
              <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
            </div>
          </form>

           Drop Zone 
          <h4>Or drag and drop files below</h4>
          <div class="upload-drop-zone" id="drop-zone">
            Just drag and drop files here
          </div>

           Progress Bar 
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              <span class="sr-only">60% Complete</span>
            </div>
          </div>

           Upload Finished 
          <div class="js-upload-finished">
            <h3>Processed files</h3>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-01.jpg</a>
              <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-02.jpg</a>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /container 
    
    
    
    
  
  <script>
    
    + function($) {
    'use strict';

    // UPLOAD/ CLASS DEFINITION
    // ======================

    var dropZone = document.getElementById('drop-zone');
    var uploadForm = document.getElementById('js-upload-form');

    var startUpload = function(files) {
        console.log(files)
    }

    uploadForm.addEventListener('submit', function(e) {
        var uploadFiles = document.getElementById('js-upload-files').files;
        e.preventDefault()

        startUpload(uploadFiles)
    })

    dropZone.ondrop = function(e) {
        e.preventDefault();
        this.className = 'upload-drop-zone';

        startUpload(e.dataTransfer.files)
    }

    dropZone.ondragover = function() {
        this.className = 'upload-drop-zone drop';
        return false;
    }

    dropZone.ondragleave = function() {
        this.className = 'upload-drop-zone';
        return false;
    }

}(jQuery);
  </script>
  
  
  
  
  <!--/*end drop and down file*/-->
          <a target="_blank" href="https://www.google.com"><i class="material-icons frg" id="qwe" >build</i></a> 
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>FEAUTURE</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Фильм</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018</h6>
          <p>Hunter Killer I Gerard Butler I Gary Oldman</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>TV</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018</h6>
          <p>Genius:Picasso I National Geographic I 20th Century Fox</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>THEATER</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2017 - 2018</h6>
          <p>The Audience I Role: Sir Winston Churchill</p><br>
        </div>
      </div>
      



    <!-- End Right Column -->
    </div>
    


  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</div>
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <!--<p>Find me on social media.</p>-->
  <!--<i class="fa fa-facebook-official w3-hover-opacity"></i>-->
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <!--<i class="fa fa-snapchat w3-hover-opacity"></i>-->
  <!--<i class="fa fa-pinterest-p w3-hover-opacity"></i>-->
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <!--<i class="fa fa-linkedin w3-hover-opacity"></i>-->
  <p>&copy; Powered by <a href="#" target="_blank">Родишев Денис</a></p>
</footer>

</body>


</html>



































































































<!--видео модал-->
<!--<html>-->
<!--<head>-->
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
<!--  <script>-->
<!--  $(function() {-->
<!--    $(".video").click(function () {-->
<!--      var theModal = $(this).data("target"),-->
<!--      videoSRC = $(this).attr("data-video"),-->
<!--      videoSRCauto = videoSRC + "?modestbranding=1&rel=0&controls=0&showinfo=0&html5=1&autoplay=1";-->
<!--      $(theModal + ' iframe').attr('src', videoSRCauto);-->
<!--      $(theModal + ' button.close').click(function () {-->
<!--        $(theModal + ' iframe').attr('src', videoSRC);-->
<!--      });-->
<!--    });-->
<!--  });-->
<!--  </script>-->
<!--</head>-->
<!--<body>-->
<!--  <button class="btn btn-success btn-lg video" data-video="https://www.youtube.com/embed/8L5PqL4ylIU" data-toggle="modal" data-target="#videoModal">Play Video 1</button>-->
<!--  <button class="btn btn-default btn-lg video" data-video="https://www.youtube.com/embed/HBdcL7YsdBY" data-toggle="modal" data-target="#videoModal">Play Video 2</button>-->
<!--  <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-body">-->
<!--          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
<!--          <iframe width="100%" height="350" src="" frameborder="0" allowfullscreen></iframe>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</body>-->
<!--</html>-->
<!--конец видео модал-->